doctype html
html
    head
        title Neighborhood Social Platform
        link(rel='stylesheet', href='/styles/style.css')
    body
        header
            h1 Neighborhood Social Platform
            nav
                ul
                    li: a(href='/gatherings') Gatherings
                    li: a(href='/gatherings/new') Add New Gathering
        main
            block content
        footer
            p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.
